html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: main;
    src: url(font/Agrandir/Agrandir-TextBold.otf);
}
@font-face {
    font-family: paragraph;
    src: url(font/Agrandir/Agrandir-Regular.otf);
}
#back-color {
    background-color: #ffffff;
}
#nav {
    font-family: main;
    font-size: 19px;
    font-weight: bolder;
    display: table;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}
#navBio {
    display: table-cell;
    text-align: center;
}
#navExp {
    display: table-cell;
    text-align: center;
}
#navProj {
    display: table-cell;
    text-align: center;
}

#me {
    width: 85%;
    border:1px solid #231F20;
    padding: 20px;
}
#meHead {
    font-family: main;
    font-size: 75px;
}
#meName {
    line-height: 90px;
    margin-left: 40px;
}
#mePar {
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}
#meDes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: paragraph;
    font-size: 28px;
    position: relative;
    line-height: 1.5;
}
#meImg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#meIns img {
    width: 35px;
    margin-right: 20px;
    margin-bottom: 15px;
}
#meGit img {
    width: 35px;
    margin-right: 20px;
    margin-bottom: 15px;
}
#meLin img {
    width: 35px;
    margin-right: 20px;
    margin-bottom: 15px;
}
#meX img {
    width: 35px;
    margin-bottom: 15px;
}

#hob {
    margin-top: 100px;
    width: 100%;
}
#hobHead {
    font-family: main;
    margin-left: 40px;
    margin-bottom: 40px;
}
#hobHead h1 {
    font-size: 60px;
}
#hobStu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: paragraph;
    font-size: 25px;
    margin-bottom: 50px;
}
#hobStuImg img {
    width: 325px;
    height: auto;
}
#hobSpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: paragraph;
    font-size: 25px;
    margin-bottom: 50px;
}
#hobSpoImg img {
    width: 400px;
    height: auto;
}
#hobAct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: paragraph;
    font-size: 25px;
    margin-bottom: 50px;
}
#hobActM {
    width: 350px;
    height: auto;
}
#hobActB {
    margin-top: 45px;
    width: 150px;
    height: auto;
}

#exp {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}
#expHead {
    font-family: main;
    margin-left: 40px;
    margin-bottom: 40px;
}
#expHead h1 {
    font-size: 60px;
}
#expTit {
    font-family: main;
    margin-left: 40px;
    margin-bottom: 30px;
}
#expTit h2 {
    font-size: 35px;
}
#expDes {
    margin-left: 40px;
    margin-bottom: 40px;
}
#expDes1 h4 {
    font-family: main;
    font-size: 30px;
    margin-bottom: 15px;
}
#expDes1 p {
    margin: 0;
    font-family: paragraph;
    font-size: 20px;
}
#expDes2 {
    text-align: right;
}
#expDes2 p {
    margin: 0;
    font-family: paragraph;
    font-size: 20px;
}
#expBen {
    margin-left: 40px;
}
#expObl h4 {
    font-family: main;
    font-size: 30px;
    margin-bottom: 15px;
}
#expObl p {
    margin: 0;
    font-family: paragraph;
    font-size: 20px;
}
#expTak {
    text-align: right;
}
#expTak h4 {
    font-family: main;
    font-size: 30px;
    margin-bottom: 15px;
}
#expTak p {
    margin: 0;
    font-family: paragraph;
    font-size: 20px;
}